<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <form action="login" method="POST">
        <input type="text" name="username" placeholder="username"></br>
        <input type="password" name="password" placeholder="password"></br>
        <input type="submit">
    </form>
    
    <!-- {% block content %}
    
    {% endblock  %}
    <h3>{{message}}</h3> -->
</body>
</html>