<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action='register' method='post'>
        <input type="text" name="first_name" placeholder="firstname"></br>
        <input type="text" name="last_name" placeholder="lastname"></br>
        <input type="text" name="username" placeholder="username"></br>
        <input type="email" name="email" placeholder="emailname"></br>
        <input type="password" name="password1" placeholder="password"></br>
        <input type="password" name="password2" placeholder="retype password"></br>
        <input type="submit">
    </form>
    
    {% block content %}
        
    {% endblock  %}
        
    <div>

        {%for message in messages%}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
</body>
</html>